*.bak
*.log
*.tmp
*.user
*.suo
*.lnk
.DS_Store
Thumbs.db
desktop.ini
testResults.xml
app.ps1.bak
.vscode/
.idea/
.vs/
config/
modules/
xaml/
docs/
functions/
tests/
.github/
LICENSE
README.md
install.ps1
scripts/Compile.ps1
scripts/start.ps1
